<div class="navbar bg-black">
  <%= link_to "Create List", "/lists/new" %>
  <%= link_to "See All Movies", "/movies" %>
  <%= link_to "Bookmarks", "/bookmarks" %>
</div>
<h1>Your Lists</h1>
<%= @message %>


<% @lists.each do |l|  %>
<div><%= link_to l.name, "/lists/#{l.id}" %></div>
<% end %>


<%#

list 1

movie *
movie *
movie *


movie
movie
movie
movie

 %>
