



<div class="w-100 border">

  <div class="p-5 card d-flex">
    <div class="text w-50">
      <div>
       Title: <%= @movie.title.capitalize %>
      </div>
      <div>
       Overview: <%= @movie.overview %>
      </div>
      <div>
        Rating: <%= @movie.rating %>
      </div>
    </div>
    <img src=<%=@movie.poster_url%> width="250px">

    <h4>Comments:</h4>
    <ol>
    <% @bookmark.each do |b| %>
    <li> <%= b.comment %> </li>

    <% end %>
  </div>
</div>




<%# <%= link_to "Bookmark", "/lists/#{id}/bookmarks/new" %>
<%= link_to "Go back", "/lists" %>
